In [1]:
# data frames are basically tables

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
from numpy.random import randn

In [6]:
my_data = randn(3,4)
my_data

array([[-1.04954823,  0.85001504, -1.12410574, -0.64122382],
       [-1.31905591,  0.02173048, -0.16903394, -1.57698813],
       [ 0.82404641, -0.59609358, -1.82314495, -0.38031222]])

In [7]:
my_rows = ['A','B','C','D']
my_cols = ['Monday', 'Tuesday', 'Friday']

In [8]:
my_data = my_data.reshape(4,3)
my_data

array([[-1.04954823,  0.85001504, -1.12410574],
       [-0.64122382, -1.31905591,  0.02173048],
       [-0.16903394, -1.57698813,  0.82404641],
       [-0.59609358, -1.82314495, -0.38031222]])

In [9]:
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday    Friday
A -1.049548  0.850015 -1.124106
B -0.641224 -1.319056  0.021730
C -0.169034 -1.576988  0.824046
D -0.596094 -1.823145 -0.380312

In [10]:
# import csv file
my_df2 = pd.read_csv('002B_dog_data.csv')
my_df2

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [11]:
my_df2.loc[0]

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [12]:
my_df2.loc[0:5]

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139
5     SCOTTISH TERRIER        BLACK   BAILEY     15129

In [13]:
my_df2.loc[[0, 5]]

              Breed  Color  DogName  OwnerZip
0          COCKAPOO  BROWN  CHARLEY     15236
5  SCOTTISH TERRIER  BLACK   BAILEY     15129

In [14]:
my_df2.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [15]:
my_df2.head(8)

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101

In [16]:
my_df2.tail()

                  Breed              Color        DogName  OwnerZip
2665       GOLDENDOODLE              BROWN        WINSLOW     15044
2666  YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667            LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668       GOLDENDOODLE              WHITE       CLARENCE     15143
2669  SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

In [17]:
my_df2.tail(8)

                   Breed              Color        DogName  OwnerZip
2662          WEIMARANER               GREY          BELLA     15102
2663  LABRADOR RETRIEVER              BROWN           NINO     15102
2664  COCKER SPANIEL MIX        WHITE/BLACK           JACK     15102
2665        GOLDENDOODLE              BROWN        WINSLOW     15044
2666   YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667             LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668        GOLDENDOODLE              WHITE       CLARENCE     15143
2669   SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

In [18]:
my_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     2670 non-null   object
 1   Color     2665 non-null   object
 2   DogName   2669 non-null   object
 3   OwnerZip  2670 non-null   int64
dtypes: int64(1), object(3)
memory usage: 83.6+ KB

In [19]:
my_df2.shape

(2670, 4)

In [20]:
my_df2.ndim

2

In [21]:
my_df2.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

In [22]:
my_df2.describe()

           OwnerZip
count   2670.000000
mean   15268.109738
std     2747.560641
min    15003.000000
25%    15102.000000
50%    15136.000000
75%    15227.000000
max    97206.000000

In [23]:
my_df2['Color'].describe()

count      2665
unique       72
top       BLACK
freq        371
Name: Color, dtype: object

In [24]:
my_df2['DogName'].describe()

count     2669
unique    1428
top       LUCY
freq        35
Name: DogName, dtype: object

In [25]:
my_df2['OwnerZip'].describe()

count     2670.000000
mean     15268.109738
std       2747.560641
min      15003.000000
25%      15102.000000
50%      15136.000000
75%      15227.000000
max      97206.000000
Name: OwnerZip, dtype: float64

In [26]:
my_df2['Color']

0                   BROWN
1             BLACK/BROWN
2                 BRINDLE
3             BLACK/BROWN
4             WHITE/BROWN
              ...
2665                BROWN
2666          BLACK/BROWN
2667    WHITE/BLACK/BROWN
2668                WHITE
2669                BLACK
Name: Color, Length: 2670, dtype: object

In [27]:
my_df2.Color

0                   BROWN
1             BLACK/BROWN
2                 BRINDLE
3             BLACK/BROWN
4             WHITE/BROWN
              ...
2665                BROWN
2666          BLACK/BROWN
2667    WHITE/BLACK/BROWN
2668                WHITE
2669                BLACK
Name: Color, Length: 2670, dtype: object

In [28]:
my_df2['DogName']

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object

In [29]:
my_df2.DogName

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object

In [30]:
my_df2['OwnerZip']

0       15236
1       15238
2       15238
3       15104
4       15139
        ...
2665    15044
2666    15220
2667    15220
2668    15143
2669    15136
Name: OwnerZip, Length: 2670, dtype: int64

In [31]:
my_df2.OwnerZip

0       15236
1       15238
2       15238
3       15104
4       15139
        ...
2665    15044
2666    15220
2667    15220
2668    15143
2669    15136
Name: OwnerZip, Length: 2670, dtype: int64

In [32]:
my_df2.iloc[:,0]

0                  COCKAPOO
1              GER SHEPHERD
2             BELG MALINOIS
3                     MIXED
4       AM PIT BULL TERRIER
               ...
2665           GOLDENDOODLE
2666      YORKSHIRE TERRIER
2667                LAB MIX
2668           GOLDENDOODLE
2669      SHETLAND SHEEPDOG
Name: Breed, Length: 2670, dtype: object

In [33]:
my_df2.iloc[:,1]

0                   BROWN
1             BLACK/BROWN
2                 BRINDLE
3             BLACK/BROWN
4             WHITE/BROWN
              ...
2665                BROWN
2666          BLACK/BROWN
2667    WHITE/BLACK/BROWN
2668                WHITE
2669                BLACK
Name: Color, Length: 2670, dtype: object