In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import os
os.listdir()

['002B_dog_data.csv',
 '001_series_and_indexing.ipynb',
 '003_counting_in_dataframes.ipynb',
 '002A_creating_dataframes.ipynb',
 'README.md',
 '.ipynb_checkpoints',
 '.git']

In [5]:
my_dog_df = pd.read_csv('002B_dog_data.csv')
my_dog_df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [6]:
my_dog_df['Color'].value_counts()

Color
BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BLACK/ORANGE/BRINDLE      1
BROWN/ORANGE              1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: count, Length: 72, dtype: int64

In [7]:
my_dog_df['Color'].value_counts(ascending=True)

Color
BROWN/LIVER               1
BROWN/FAWN                1
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BLACK/BROWN/GREY          1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: count, Length: 72, dtype: int64

In [8]:
my_dog_df['DogName']

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object

In [9]:
my_dog_df['DogName'].value_counts(dropna = False)

DogName
LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
RAMBO       1
CHOOKIE     1
AMY         1
DEE DEE     1
GRIFFIN     1
Name: count, Length: 1429, dtype: int64

In [10]:
my_dog_df.loc[my_dog_df['DogName'].isnull()]

          Breed    Color DogName  OwnerZip
16  TERRIER MIX  SPOTTED     NaN     15239

In [11]:
my_dog_df['DogName'].value_counts(normalize = True)

DogName
LUCY       0.013114
BELLA      0.011240
BAILEY     0.010865
BUDDY      0.010865
DAISY      0.009741
             ...
CHOOKIE    0.000375
AMY        0.000375
DEE DEE    0.000375
KAYLIE     0.000375
GRIFFIN    0.000375
Name: proportion, Length: 1428, dtype: float64

In [12]:
int(my_dog_df['DogName'].value_counts()['BELLA'])

30

In [13]:
my_dog_df.groupby('Color').size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [14]:
my_dog_df.groupby('Color').count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]